<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GF Beers</title>
    <meta name="description" content="">
    <meta name="author" content="Chris Betz">
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">GF Beers</a>
            <ul class="nav">
                <li><a href="{% url 'index' %}" class="">Home</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    {% bootstrap_messages %}

    {% block content %}Empty page{% endblock %}

    <p><hr></p>

    <footer class="row">
        <div class="span6">
            <p><a href="http://www.untappd.com"><img src="{% static 'beers/poweredbyuntappd_a_grey_large.png' %}" /></a></p>
        </div>
        <div class="span6" style="text-align:right">
            <p>
                &copy; <a href="http://twitter.com/thechrisbetz">Chris Betz</a> 2013
            </p>
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>