{% extends "beers/base.html" %}

{% block content %}

<div class="row boxes">
	<ul class="thumbnails">
		{% for beer in beer_list %}
		    <li class="span4">
		    	<div class="thumbnail right-caption span4">
			    	<div class="span2">
			    		<a href="/beers/{{ beer.id }}/"><img src="{{ beer.label }}" /></a>
			    	</div>
		    		<div class="caption">
		    			<h5>{{ beer.name }}</h5>
		    			<h6>{{ beer.brewery.name }}</h6>
		    			<p>
		    			{% if beer.gluten_removed %}
		    				<i class="icon-eject"></i> Gluten Removed
		    			{% else %}
		    				&nbsp;
		    			{% endif %}
		    			</p>
		    		</div>
		    	</div>
		    </li>
		{% endfor %}
	</ul>
</div>

{% endblock %}