{% extends "beers/base.html" %}

{% block content %}
<div class="row boxes">
	<ul class="thumbnails">
		{% for beer in beer_list %}
		    <li class="span4 clearfix">
		    	<div class="thumbnail clearfix card">
			    	<a href="/beers/{{ beer.id }}/"><img src="{{ beer.label }}" class="pull-left" style="margin-right:10px"/></a>
		    		<div class="caption" class="pull-left">
		    			<p><strong><a href="/beers/{{ beer.id }}/">{{ beer.name }}</a></strong></p>
		    			<p>{{ beer.brewery.name }}</p>
		    			<p>
		    			{% if beer.gluten_removed %}
		    				<i class="icon-eject"></i> Gluten Removed
		    			{% else %}
		    				<i class="icon-ban-circle"></i> Gluten Free
		    			{% endif %}
		    			</p>
		    		</div>
		    	</div>
		    </li>
		{% endfor %}
	</ul>
</div>

{% endblock %}